/packages
/CompuMaster.Test.Imaging/obj
/CompuMaster.Test.Imaging/bin
/CompuMaster.Test.Imaging/*.user
/CompuMaster.Imaging/obj
/CompuMaster.Imaging/bin
/CompuMaster.Imaging/*.user
/.vs

*.nupkg
/CompuMaster.Imaging/New-NuGetPackages
